@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@media (min-width: 390px) {
  html {
    background-color: #fff;
    width: 500px;
    margin: auto;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #c6cae3;
  }
}
